.btn-primary{
    background-color: #25D366 !important;
    border-color:#25D366 !important;
    display: inline-flex  !important;
    align-items: center !important;
    justify-content: center !important; 
}

.btn-primary:hover {
    background-color: #128C7E !important;
    border-color:#128C7E !important;
}
.btn i {
    font-size: 32px; /* Tamaño del ícono*/
}

body {
    font-family: "Cormorant Upright" !important;
    background-color: #FAF3E0;
}


/* * {
  outline: 1px solid red; 
} */

.navbar {
    background-color: #2C2C54;
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.nav-link {
    color: white !important;
}

.footer {
    background-color: #2C2C54;
}

.row {
    padding-right: 0 !important;
    padding-left: 0 !important;
    --bs-gutter-x: 0rem !important;
}

/* Cambiar el rem cambia el tamaño de la carta de servicios*/
.card-container {
  width: 100%;
  max-width: 16rem;
}

/* Color de fondo de los tesimonios */
.card-testimonios {
    background-color: #FAF3E0 ; 
}

.card-servicio {
  aspect-ratio: 2 / 3;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}

.card-header {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

.image-flip-container {
  position: relative;
  width: 100%;
  flex: 1 1 auto;
  perspective: 1000px;
}

.image-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.image-flip-container:hover .image-inner {
  transform: rotateY(180deg);
}

.image-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.image-front,
.image-back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-front img,
.image-back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-back {
  transform: rotateY(180deg);
}