.btn-primary{
    background-color: #25D366 !important;
    border-color:#25D366 !important;
    display: inline-flex  !important;
    align-items: center !important;
    justify-content: center !important; 
}

.btn-primary:hover {
    background-color: #128C7E !important;
    border-color:#128C7E !important;
}
.btn i {
    font-size: 32px; /* Tamaño fijo del ícono (ajusta según necesites) */
}

body {
    font-family: "Cormorant Upright" !important;
}